@page "/profile"

<h2>Student Profile</h2>

<img src="https://a.ltrbxd.com/resized/sm/upload/s7/yb/jv/eq/spirited-away-1200-1200-675-675-crop-000000.jpg?v=d89d148596" width="200" />

<p><strong>Name:</strong> @studentName</p>
<p><strong>Course:</strong> @courseName</p>
<p><strong>Batch:</strong> @batchYear</p>

@code {
    string photoPath = "images/student1.jpg";
    string studentName = "Sandhya Majhi";
    string courseName = ".NET MAUI Hybrid Training";
    string batchYear = "2025";
}